body {
background-image: url("1243.jpeg");
background-repeat: no-repeat ;
background-size: 150%;
}
.MyDiv0 {
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(163, 187, 77);
border: 5px solid #000;
padding : 150px;
margin : 150px;
}

input {
width:  250px;
height: 30px;
border: 2px solid rgb(203, 206, 24);
}

.MYbutton {
background-color: rgb(154, 245, 8);
color : #ffff;
border: 2px solid #333;
border-radius: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
width : 150px;
height: 50px;
}
